/* body {
    width: 100%;
    min-width: 450px;
    height: 100%;
    text-align: center;
    background: #006400;
    font-family: "Ubuntu", sans-serif;
  } */
  body {
    color: #101010;
    font-size: 14px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden !important;
    background-color: #f9f9f9;
}
  .adiprag {
    width: 100%;
    min-width: 450px;
    height: 100%;
    padding-block: 54px;
    text-align: center;
    background-color: #DDE1FF;
    font-family: "Ubuntu", sans-serif;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .wrapper {
    max-width: 800px;
    min-width: 420px;
    height: 100%;
    background:  #f9f9f9;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  #title {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #282c47;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #f8f8f8;
  }
  #survey-form {
    margin: auto;
    width: 90%;
  }
  table {
    margin: auto;
    border-spacing: 10px;
    width: 100%;
  }
  span {
    font-size: 12px;
  }
  .left-side {
    width: 50%;
    text-align: right;
  }
  .right-side {
    width: 50%;
    text-align: left;
  }
  .inputs {
    padding-left: 5px;
    height: 25px;
    width: 250px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
  }
  .drop-down {
    height: 25px;
    width: 150px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
  }
  .extra-text {
    width: 250px;
    height: 70px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    resize: vertical;
  }
  button {
    width: 100px;
    height: 30px;
    font-size: 1em;
    background: #282c47;
    color: #282c47;
    border: none;
    border-radius: 3px;
    transition: 0.4s;
    margin-top: 25px;
  }
  button:hover {
    opacity: 0.7;
  }
  footer {
    color: #101010;
    margin-top: 30px;
  }
  @media (max-width: 420px) {
    .left-side {
      text-align: left;
    }
    .inputs {
      width: 100%;
    }
    .extra-text {
      width: 100%;
    }
  }
  